//*===============================================*//
//*================== VARIABLES ==================*//
@import '../_variables.scss';

//*===============================================*//
//*================ ACCOUNT PANEL ================*//
.panels-j1Uci_ {
  border-radius: 16px 16px 0 0;

  > .container-3baos1 {
    background: $col-bg-accent;
    border-radius: 16px 16px 0 0;
  }

  //?I don't know what this is, actually
  .icon-3Oovq9 {
    border-radius: 50%;
    background-color: $col-primary !important;
  }

  //*Auto Hide Panel Buttons --------------------- //
  .container-3baos1 .noWrap-3jynv6 {
    width: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s $anim-ease;
  }
  .container-3baos1:hover .noWrap-3jynv6 {
    width: 140px;
    opacity: 1;
    pointer-events: all;
  }

  //*Panel Button Animations --------------------- //
  // Credit: Made originally by @sanana the skenana#0001
  @keyframes trans {
    0% { color: $col-secondary; }
    25% { color: $col-primary; }
    50% { color: rgb(255, 255, 255); }
    75% { color: $col-primary; }
    100% { color: $col-secondary; }
  }
  .button-14-BFJ {
    transition: $anim-speed $anim-ease;
    &:hover {
      animation-name: trans;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
  }

  //*Spotify Modal ------------------------------- //
  .powercord-spotify .container-3baos1:hover .noWrap-3jynv6 {
    width: 96px;
  }

  //*Spinny Settings Button ---------------------- //
  // Credit: lucii#6018 -------------------------- //
  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  .button-14-BFJ[aria-label="User Settings"]:hover {
    animation: rotate 0.5s infinite;
  }
}
