//*===============================================*//
//*================== VARIABLES ==================*//
@import '../_variables.scss';


//*===============================================*//
//*=================== DM CALLS ==================*//
//*Avatar Speaking Highlight Color --------------- //
.border-Jn5IOt {
  transition: $anim-speed $anim-ease;
  &.speaking-B2MXPi {
    box-shadow:
      inset 0 0 0 2px $col-green,
      inset 0 0 0 4px rgba($col-bg-floating, 0.5);
  }
}

//*Streaming/Video DM Call Background ------------ //
.wrapper-2qzCYF { background: var(--background-floating); }

//*Volume Slider --------------------------------- //
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
  background-color: $col-primary !important;
}

//*Call Action Dock ------------------------------ //
// Credit: DanKGooGLy#1337 ----------------------- //
.wrapper-3EGhDO {
  background-color: rgba($col-bg-secondary, 1);
  border-radius: 32px;
  padding: 2px;
}
.colorable-1bkp8v.white-3GPOIp,
.colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
  color: currentColor;
}
.colorable-1bkp8v.primaryDark-3mSFDl,
.contextMenuNub-3yOOYo {
  background: $col-bg-secondary;
}
.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS,
.colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS,
.colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk,
.controlButton-2MhVEL {
  background: none !important;
  margin: 0;
}
.colorable-1bkp8v.red-33-Lnk:hover { background: $col-red !important; }
.colorable-1bkp8v.red-33-Lnk {
  border-radius: 128px;
}



//*===============================================*//
//*=================== MESSAGES ==================*//
//*Message Input --------------------------------- //
.scrollableContainer-2NUZem {
  background: var(--background-primary);

  // Attach Button
  .attachButtonPlay-3iJ0mf { color: $col-primary; }

  // Emote/Gif/Gift Buttons
  .buttons-3JBrkn .lookBlank-3eh9lL .button-3AYNKb { color: hsla(0,0%,100%,0.25); }

  // Hide Send Nitro Gift Button
  .buttons-3JBrkn [aria-label="Send a gift"] { display: none; }
}

//*Chat Message ---------------------------------- //
.message-2qnXI6 { border-radius: 24px; }
.mouse-mode.full-motion .message-2qnXI6:hover { background: $col-bg-secondary; }
.cozy-3raOZG.wrapper-2a6GCs {
  margin-left: 16px;
  padding-left: 56px;
}
.avatar-1BDn8e { left: 4px; }
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt { width: 48px; }

//*Chat Embed ------------------------------------ //
.embedSpotify-tvxDCr { border-radius: 16px; }
.embed-IeVjo6 {
  border-radius: 16px;
  border-left-color: $col-secondary !important;
}

//*Chat Message Actions -------------------------- //
$btn-hover-col: lighten($col-bg-accent, 10%);
.container-3npvBV { top: -16px; }
.wrapper-2aW0bm {
  background: $col-bg-secondary;
  border-radius: 16px;
  box-shadow: 0 0 0 4px $col-bg-primary !important;
  &:hover { background: $col-bg-accent; }

  // Message Action Buttons
  .button-1ZiXG9 {
    border-radius: 16px;
    &:hover { background: $btn-hover-col; }

    &.dangerous-2r8KxV {
      color: $col-red;
      &:hover {
        background: $col-red;
        color: white;
      }
    }
  }

  // Powercord Theme/Plugin/Snippet Install
  .ThemeDownloaderApply,
  .PluginDownloaderApply,
  .powercord-snippet-apply {
    margin-right: 4px;

    div {
      margin-left: 0;
      margin-right: 4px;
      border-radius: 16px;
      padding: 8px;
    }

    &:not(.applied) div:hover {
      background: $btn-hover-col;
      color: white;
    }
    &.applied div { color: $col-green; }
  }
}

//*Scrollable Auto Chat -------------------------- //
// Credit: Freeplay#5676 ------------------------- //
.autocomplete-1vrmpx {
  max-height: calc(100vh - 120px);
  overflow-y: scroll;
}
.autocomplete-1vrmpx::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}
.autocomplete-1vrmpx::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


//*DM Search Bubble ------------------------------ //
// Credit: PoorPockets McNewHold#1984 ------------ //
// TODO: Clean this up for SCSS ------------------ //
// TODO: Fix sizing and spacing of this button --- //
#app-mount .privateChannels-1nO12o .searchBar-6Kv8R2 {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(-45deg, $col-primary, $col-secondary);
  opacity: 0.8;
  box-shadow: 2px 10px 10px var(--shadow, rgba(0,0,0,0.2)) !important;
  overflow: hidden;
  cursor: pointer;
  transition: all .2s ease-in-out;
  pointer-events: all;
  padding: 0;

  &:hover {
    width: 224px;
    opacity: 1;
  }

  .searchBarComponent-32dTOx { background-color: transparent !important; }
  .inner-3ErfOT {
    height: 100%;
    width: 100%;
  }

  .searchBarComponent-32dTOx::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50px;
    bottom: -1px;
    right: -1px;
    background: url(https://discordapp.com/assets/4d254296157bb8927b7d53ed59beb0d8.svg) center/20px no-repeat;
    pointer-events: none;
  }

  .searchBarComponent-32dTOx::before {
    content: 'Search Direct Messages';
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    width: 208px;
    bottom: 0;
    right: 0vw;
    color: white;
    opacity: 1;
    font-size: 12px;
    line-height: 100%;
    transition: all .2s ease-in-out;
    pointer-events: none;
  }

  .searchBarComponent-32dTOx { color: transparent; }
}
.privateChannels-1nO12o .scrollerWrap-2lJEkd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  border-bottom: 2px solid var(--main-color, #7289da);
  box-sizing: border-box;
  z-index: 9999;
}
.privateChannels-1nO12o .scrollerWrap-2lJEkd .scroller-2FKFPG {
  margin-top: 50px;
}

//*Fira Code Blocks ------------------------------ //
// Credit: Winston#0441 -------------------------- //
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');
:root { --font-family-monospace: 'Fira Code', monospace; }
.markup-2BOw-j code,
.markup-2BOw-j code.inline {
  font-family: var(--font-family-monospace);
}

//*Hide Disabled Textbox ------------------------- //
.channelTextAreaDisabled-8rmlrp > div { display: none; }

//*Compressed Searchbar -------------------------- //
// Credit: PoorPockets McNewHold#1984 ------------ //
// .search-2oPWTC .searchBar-3dMhjb {
//   width: 30px;
//   transition-duration: 300ms;
// }
// .search-2oPWTC .searchBar-3dMhjb:hover {
//   width: 200px;
// }
// .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {
//   width: 244px !important;
// }
// .search-2oPWTC .icon-38sknP {
//   cursor: pointer;
// }

//*Improved Chat Toolbar ------------------------- //
.toolbar-1t6TWx {
  height: 48px;

  // Toolbar Icons
  .iconWrapper-2OrFZ1 {
    padding: 8px;
    height: auto;
    margin: 0 2px;
    border-radius: 32px;

    &:hover {
      background: $col-bg-accent;
    }
    &.selected-1GqIat {
      background: $col-bg-accent;
      box-shadow: 0 0 0 2px $col-bg-secondary-alt inset;
    }
  }

  // Search Bar/Button
  .search-36MZv- {
    margin: 0 2px;
    
    .searchBar-3dMhjb {
      height: auto;
      padding: 8px;
      border-radius: 32px;
      background: transparent;
      width: 42px;
      transition: $anim-speed $anim-ease;

      &:hover {
        background: $col-bg-accent;
      }
      
      .iconLayout-1WxHy4 .icon-3cZ1F_ {
        color: #B9BBBE;
      }

      .DraftEditor-root .public-DraftEditorPlaceholder-root {
        color: #B9BBBE;
      }
    }

    .search-2oPWTC.focused-31_ccS .searchBar-3dMhjb,
    .search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {
      background: $col-bg-accent;
      width: 240px;
      box-shadow: 0 0 0 2px $col-bg-secondary-alt inset;
    }
  }
}
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3 {
  background-color: $col-bg-secondary-alt;
  padding: 0 4px;
}
.theme-dark .searchFilter-2ESiM3 { border-radius: 16px 0 0 16px; }
.theme-dark .searchAnswer-3Dz2-q { border-radius: 0 16px 16px 0; }

//*Recolor Status Icons -------------------------- //
[aria-label*="Online"] svg rect:first-of-type {
  fill: $col-green;
}
[aria-label*="Idle"] svg rect:first-of-type {
  fill: $col-orange;
}
[aria-label*="Do Not Disturb"] svg rect:first-of-type {
  fill: $col-red;
}

//*Hide Nitro Button on Homepage ----------------- //
#private-channels-2 { display: none; }
