// =============================================== //
// ================== VARIABLES ================== //
@import '../_variables.scss';

// Question Mark Box
.theme-dark .questionMark-CWEQZn {
  border-radius: 32px;
}

// Separate Powercord Settings from Plugin Settings
.item-PXvHYJ[data-item-id=pc-updater] {
  margin-bottom: 16px;
}

// Separators
.separator-gCa7yv {
  background: lighten($col-bg-accent, 10%);
}

// Centered Headers
.side-8zPYf6 .header-2RyJ0Y {
  text-align: center;
  color: $col-primary;
}

// Settings Tabs
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ {
  border-radius: 16px;
  &.selected-3s45Ha {
    background: $gradient-primary;
  }
}

// Checkbox/Switch
.themeDefault-24hCdX.valueChecked-m-4IJZ {
  background: $gradient-primary;
}

// Slider Background
.barFill-23-gu- {
  background: $gradient-primary;
}

// Text Inputs
.input-cIJ7To {
  border-radius: 32px;
}
