// =============================================== //
// ================== VARIABLES ================== //
// Colors
$col-bg-primary      : hsl(203, 11%, 11%);
$col-bg-secondary    : hsl(203, 11%, 14%);
$col-bg-secondary-alt: hsl(203, 11%, 20%);
$col-bg-tertiary     : hsl(203, 11%, 8%);
$col-bg-accent       : hsl(203, 11%, 25%);
$col-bg-floating     : hsl(203, 11%, 7%);
$col-blue   : hsl(193, 100%, 53%);
$col-green  : #2ff772;
$col-orange : #f1c73a;
$col-yellow : #e3ec5b;
$col-purple : #cc47e7;
$col-red    : #ee4949;
$col-primary: lighten($col-purple, 15%);
$col-secondary: $col-blue;

// Gradients
$gradient-primary: linear-gradient(45deg, desaturate(darken($col-primary, 25%), 40%), $col-primary);
$gradient-green:   linear-gradient(45deg, #33DC51, #70e685);
$gradient-blue:    linear-gradient(45deg, darken($col-blue, 25%), $col-blue);
$gradient-yellow:  linear-gradient(45deg, #faa61a, #fbc05e);
$gradient-red:     linear-gradient(45deg, #aa0e0e, #f04747);
$gradient-grey:    linear-gradient(45deg, #000000, #4c4c4c);
$gradient-nitro:   linear-gradient(45deg, #f300ea, #ff73fa);

// Animations
$anim-speed: 0.15s;
$anim-ease: ease-in-out;
